/* table
----------------------------------------------- */
table {
	width:100%;
	border:1px solid #bbb;
	margin-bottom:10px;
}
col.colC {
	width:8em;
}
th, td {
	padding:4px 5px;
	text-align:center;
}
thead th {
	border:1px solid #888;	
	background:#D6D6D6;
	padding:.4em 1em .2em;	
}

thead th.table-head {
	font-size:1em;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
	background:#555;
	border:1px solid #555;
}


tbody th,
tbody td {
	border:1px solid #bbb;
	background:#eee;
}

tbody th,
tbody td:hover {
	background:#FFFFFF;
}

tbody tr.odd th,
tbody tr.odd td {
	background:#fff;
}
tfoot th,
tfoot td {
	border-top:2px solid #666;
	background:#eee;
}
tfoot tr.total th,
tfoot tr.total td {
	border-top:6px double #666;
}
tfoot tr.total th {
	text-transform:uppercase;
}
th.currency,
td.currency {

	
}
.esp{
	padding:0px 5px 0px 0px;
}
.esp2{
	padding:0px 8px 0px 0px;
	margin-left:-17px;
}

td b{
	font-size:8px;
	position:absolute;
}
